/* Drinks - Start */

.food__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5px;
}

.food__item {
    transition: all 0.5s ease;
    width: 32%;
    margin-bottom: 5px;
}

.food__item:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food__image {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

.output {
    font-size: 20px;
}

.btn-stop:hover {
    cursor: pointer;
}

@media (max-width: 576px) {
    .food__item {
        min-width: 100%;
    }
}

/* Drinks - End */